footer {
  position: fixed;
  left: 0; bottom: 0;
  width: 100%;
  height: 45px;
  background-color: rgb(56, 56, 56);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}